<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body class='main_content'>
<h1>Posts</h1>
<ol class="post_list">
    <% results.forEach(function(post) {%>
        <li class="post">
            <%= post.message %>
            <img src ="<%= post.imageUrl %>" alt = "<%= post.message %>" width="50" height="50">
            <ul>
                <li class="post_postedBy">
                Created by <%= post.postedBy.name %>
                </li>
                <li>
                Liked by <%= post.likedBy.length %>
                </li>
                <li>
                Disliked by <%= post.dislikedBy.length %>
                </li>
            </ul>
        
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a class = "menu" href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a class = "menu" href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>
