<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body class='main_content'>
<h1>Posts</h1>
<ol class="post_list">
    <% results.forEach(function(post) {%>
        <li class="post">
            
            <img class="post_img" src ="<%= post.imageUrl %>" alt = "<%= post.message %>" width="50" height="50">
            <div class="post_message"> 
                <p class="post_postedBy">
                    Created by <%= post.postedBy.name %>
                </p>
                <p>
                    <%= post.message %> 
                </p>
            </div>
            <div class="post_like">
            
                <p>Liked by <%= post.likedBy.length %></p>
                
                <p>Disliked by <%= post.dislikedBy.length %></p>
                
            </div>
        
        </li>
    <% }); %>
</ol>
<%if (next) { %>
    <a class = "menu" href="<%= next %>">Next</a>
<% } %>
<%if (previous) { %>
    <a class = "menu" href="<%= previous %>">Previous</a>
<% } %>
</body>
<%- include('_footer') -%>
</html>
