<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<style>
    body {
      background-image: url('<%= coverImageUrl%>');
    }
</style>
<body>
<img src ="<%= profileImageUrl %>" alt = "<%= name %>" width="150" height="150">
<div class="user_main_details">
    <h1><%= name %></h1>
    <p>
        (<%= username %>)
    </p>

    <p>
        Email: <%= email %>  
    </p>
</div>
</body>
<%- include('_footer') -%>
</html>
