<html lang="en-gb">

<header>
<%- include('_head') -%>
<%- include('_header') -%>

</header>
<!--
<div class ="nav_container">
<button class="nav_close_open" id="b_nav" >Close/Open</button>
<nav class="nav_menu nav_menu_closed">
    <ul>
        <li>
            Home
        </li>
        <li>
            Posts
        </li>
        <li>
            Users
        </li>
        <li>
            + New Post
        </li>
    </ul>

</nav>

</div>
-->
<body>
<div class="user_main_top">
    <div class="user_main_background">
        <img src ="<%= coverImageUrl %>" alt = "<%= name %>" width="100%" height="100%">
    
        <div class="user_main_details">
            <!--<img class="user_main_img" src ="<%= profileImageUrl %>" alt = "<%= name %>" width="150" height="150">-->
            <img class="user_main_img" src ="<%= profileImageUrl %>" alt = "<%= name %>" >
            <h1><%= name %></h1>
            <p class="user_main_add_info">
                (<%= username %>)
            </p>
            <p class="user_main_add_info">
                Email: <%= email %>  
            </p>
        </div>
    </div>
</div>

<br><br><br>

<div class="user_content">
<div class="user_main_middle">    
    <div class="user_posts_created">
        <h2 class="user_main_add_info">Posts created:</h2>
        <ol class="post_list">
            <% posts.forEach(function(post) {%>
                <li class="post">    
                    <img class="post_img" src ="<%= post.imageUrl %>" alt = "<%= post.message %>" width="50" height="50">
                    <div class="post_message"> 
                            <%= post.message %> 
                    </div>
                </li>
            <% }); %>
        </ol>
    </div>
</div>

<div class="user_main_last">    
    <div class="user_posts_created">
        <h2 class="user_main_add_info">Posts liked:</h2>
        <ol class="post_list">
            <% likes.forEach(function(post) {%>
                <li class="post">    
                    <img class="post_img" src ="<%= post.imageUrl %>" alt = "<%= post.message %>" width="50" height="50">
                    <div class="post_message"> 
                            <%= post.message %> 
                    </div>
                </li>
            <% }); %>
        </ol>
    </div>
</div>
</div>
    
    
</body>
<%- include('_footer') -%>
</html>
